DATABASE_URL=postgresql://user:pass@localhost:5432/aifficient
RESEND_API_KEY=re_xxxxxxxxxxxxx
NOTIFICATION_EMAIL=hello@aifficient.be
NEXT_PUBLIC_DEV_TOOLS=true
CDN=https://pub-649780cc289648dc9d57a1ea0f1f75cb.r2.dev